* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: hsl(0, 49%, 18%);
    color: #030303;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 5px;
}

a {
    color: #3498db;
    text-decoration: none;
}

h2 {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}
